html {
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #deffec;
}

main {
    margin: 48px;
    padding: 24px;
    background-color: #209e62;
    border-radius: 16px;
}

main > h1 {
    color: #fff;
}

hr {
    margin-bottom: 1.5rem;
}

input[type="text"] {
    height: 28px;
    padding: 2px 8px;
    border-radius: 8px;
    border: none !important;
}

input[type="file"] {
    background-color: white;
    margin: 0 auto;
    height: 22px;
    padding: 2px 8px;
    border-radius: 8px;
    border: none !important;
}

label {
    font-weight: 500;
    font-size: 1.1rem;
    color: #efefef;
}

button {
    width: 144px;
    height: 28px;
}

.grid {
    display: grid;
    gap: 8px;
    width: fit-content;
}
